# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Python
- R
- Julia 
- Scala
- SQL

## Some of the popular languages that data scientists use are: 
    1.  Python
    2.  R
    3.  Julia

## Some of the commonly used libraries used by Data Scientists include: 
    1. TensorFlow
    2. Matplotlib
    3. SciKit-Learn

Data Science Tools|
|------------------|
|Anaconda|
|JupyterLite|
|GoogleColab|

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [12]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by dividing by 60

In [13]:
200/60

3.3333333333333335

## Author
Justina